header{
    background-color: #d2b1ff;
    text-align: center;
}
h1{
  text-transform: uppercase;
  text-align: center;
  color: #197400;
  font-size: 350%
}
nav{
  text-align: left;
  font-size: 200%
}

main{
  background: #bbc592 ;
}

aside{ 
display: none;
}
h2{
  font-size: 200%;
  text-transform: uppercase;
  color: #006400;
  }
a {
  background-color: #b5bd00;
  color: #d50032;
 }